.fire {
    background-color: crimson;
}

.poison {
    background-color: darkmagenta;
}

.rock {
    background-color: darkslategray;
}

.electric {
    background-color: gold;
}

.water {
    background-color: deepskyblue;
}

.grass {
    background-color: limegreen;
}

.bug {
    background-color: forestgreen;
}

.steel {
    background-color: silver;
}

.flying {
    background-color: skyblue;
}

.ghost {
    background-color: purple;
}

.psychic {
    background-color: orange;
}

.default {
    background-color: dimgrey;
}

