<div class="card text-light" style="width:445px"  [ngClass]="pokemon.type === undefined ? 'default' : pokemon.type">
  <img class="card-img-top" [src]="pokemon.image" alt="Card image">
  <div class="card-body">
    <h2 class="card-title">{{pokemon.name | titlecase}}</h2>
      <div class="row">
        <div class="col-6">
          <ul>
            <li>Id: {{pokemon.id}}</li>
            <li>Peso: {{pokemon.height | toKilos}} kg</li>
          </ul>
        </div>
          <div class="col-6">
            <ul>
              <li>Tipo: {{pokemon.type}}</li>
              <li>Altura: {{pokemon.weight | toMeters}} m</li>
            </ul>
          </div>
    </div>
    <button class="btn btn-light btn-block" (click)="onLoad()">
      <fa-icon [icon]="faInfoCircle"></fa-icon>
      Mas informacion
    </button>
 </div>
</div>