<app-poke-nav></app-poke-nav>
<app-poke-search></app-poke-search>
<br>
<div *ngIf="!isLoading">
    <div class="card-columns">
        <app-card-template *ngFor="let pokerecord of pokeRecords"
                           [pokemon]="pokerecord">
        </app-card-template>
    </div>
    <mat-paginator [pageSize]="pageSize" 
                   [length]="totalRecords" 
                   [pageIndex]="pageIndex"
                   style="background-color: brown;" 
                   (page)="onPageChange($event)"> 
    </mat-paginator>
</div>
<app-loading *ngIf="isLoading"></app-loading>