.main-section {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
    
}
.modal-content {
    background-color: rgb(149,165,166,0.7);
	padding: 20%;
	border-radius: 15px;
}

.login {
    background: url("/assets/login-bg.png")center fixed;
    padding: 94px;
}