/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fire {
    background-color: crimson;
}

.poison {
    background-color: darkmagenta;
}

.rock {
    background-color: darkslategray;
}

.electric {
    background-color: gold;
}

.water {
    background-color: deepskyblue;
}

.grass {
    background-color: limegreen;
}

.bug {
    background-color: forestgreen;
}

.steel {
    background-color: silver;
}

.flying {
    background-color: skyblue;
}

.ghost {
    background-color: purple;
}

.psychic {
    background-color: orange;
}

.normal {
    background-color: indigo;
}

.ground {
    background-color: coral;
}

.fairy {
    background-color: darkslategrey;
}

.fighting {
    background-color: indianred;
}
.default {
    background-color: dimgrey;
}
